add requirement "REQ-1" -f -n "Power"
add requirement "REQ-1.1" -f -n "Solar panels" -p "REQ-1"
add requirement "REQ-1.1.1" -f -n "Surface" -p "REQ-1.1" -d "Less than 0.22m2"
add requirement "REQ-1.2" -f -n "Capacitors" -p "REQ-1" -d "Less than 10F equivalent"
add requirement "REQ-2" -f -n "Mecanics"
add requirement "REQ-2.1" -f -n "Dimensions" -p "REQ-2"
add requirement "REQ-2.1.1" -f -n "External dimensions" -p "REQ-2.1" -d "Smaller than 40x85cm"
add requirement "REQ-2.1.2" -f -n "Mass" -p "REQ-2.1" -d "Minimum 1.5kg without batteries"
add requirement "REQ-2.1.3" -f -n "Mass maximum" -p "REQ-2.1" -d "Maximum 2kg with batteries"
